.ArticleDetails {
  min-height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: self-start;
  // gap: 20px;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.sceleton {
  margin-top: 15px;
}
