// .ArticleList {
//   display: flex;
//   flex-wrap: wrap;
//   // gap: 16px;
// }

.GRID {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    // height: 300px;
  }
}

.LIST {
  width: 100%;

  .card {
    margin-bottom: 30px;
  }
}
