.GRID {
  width: 230px;
  transition: all 0.3s;
  cursor: pointer;

  .ArticleListItem {
    cursor: pointer;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);

    .date {
      display: block;
    }
  }

  .views {
    margin-left: auto;
  }

  .imageWrapper {
    width: 100%;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title p {
    width: 200px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.LIST {
}
