.ListBox {
  position: relative;
}
.trigger {
  background: none;
  border: none;
  outline: none;
  padding: none;
  margin: none;
}
.options {
  background-color: var(--inverted-bg-color);
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.item {
  padding: 10px 10px;
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
  color: var(--inverted-bg-color);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--disabled-color);
}

.optionDownLeft {
  top: 100%;
  right: 0;
}
.optionUpLeft {
  bottom: 100%;
  right: 0;
}
.optionDownRight {
  top: 100%;
  left: 0;
}
.optionUpRight {
  bottom: 100%;
  left: 0;
}
