.app_pink_theme {
  --bg-color: #fbf4f7;
  --inverted-bg-color: #ba8fa1;
  --primary-color: #ff2182;
  --secondary-color: #fbf4f7;
  --inverted-primary-color: #ff2182;
  --inverted-secondary-color: #fbf4f7;
}
