.ArticleDetailsPage {
  display: flex;
  flex-direction: column;
}

.buttonBack {
  width: 120px;
  margin-top: 16px;
}

.recommendation {
  flex-wrap: nowrap !important;
  margin-bottom: 26px;
  overflow-y: hidden;
  overflow-x: auto;
}
