.ProfileCard {
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 8px;
}

.input {
  margin-bottom: 10px;
}

.loafing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
