.dropdown {
  position: relative;
}

.items {
  background: var(--card-bg);
  position: absolute;
  z-index: 100;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  display: flex;
}

.item {
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.active {
  background: var(--inverted-primary-color);
  color: var(--card-bg);
  border-radius: 8px;
}
